.card {
  max-width: 80%;
  display: block;
  margin: 30px auto;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  border-radius: 15px;
}

footer {
  text-align: center;
  margin: 20px 0;
  color: black;
  font-size: 18px;
}
