.Meaning h3 {
  font-size: 24px;
  line-height: 1.5px;
  font-weight: bold;
  text-transform: capitalize;
}

.Meaning .Example {
  color: #78757a;
  font-style: italic;
  margin-top: 5px;
}

.Meaning .Definition {
  margin-top: 20px;
  font-size: 20px;
}
